#penilaian-sakip-node-form .panel-body {
  padding: 3px;
  padding-top: 1px;
  padding-left: 5px;
}


#penilaian-sakip-node-form .col-md-2 label {
  padding-top: 10px;
}
#penilaian-sakip-node-form .col-md-10 label {
  display: none;
}

#edit-field-renstra-uk-disusun label {
  display: none;
}

#edit-field-renstra-memuat-tujuan label {
  display: none;
}

#edit-field-tujuan-indikator label {
  display: none;
}
#edit-field-target-keberhasilan label {
  display: none;
}
#edit-field-renstra-sasaran label {
  display: none;
}
#edit-field-renstra-indikator label {
  display: none;
}
#edit-field-renstra-target label {
  display: none;
}
#edit-field-renstra-menyajikan label {
  display: none;
}
#edit-field-renstra-dipublikasikan label {
  display: none;
}
#edit-field-tujuan-berorientasi-hasil label {
  display: none;
}
#edit-field-ukuran-keberhasilan label {
  display: none;
}
#edit-field-sasaran-berorientasi-hasil label {
  display: none;
}
#edit-field-indikator-kinerja-sasaran label {
  display: none;
}
#edit-field-target-kinerja-ditetapkan label {
  display: none;
}
#edit-field-program-mencapai-sasaran label {
  display: none;
}
#edit-field-renstra-selaras-kmenterian label {
  display: none;
}
#edit-field-renstra-telah-menetapkan label {
  display: none;
}
#edit-field-renstra-acuan-dokumen label {
  display: none;
}
#edit-field-target-jangka-menengah label {
  display: none;
}
#edit-field-renstra-direviu label {
  display: none;
}
#edit-field-dokumen-perencanaan label {
  display: none;
}
#edit-field-perjanjian-kinerja-disusun label {
  display: none;
}
#edit-field-menyajikan-indikator label {
  display: none;
}
#edit-field-pk-telah-dipublikasikan label {
  display: none;
}
#edit-field-rencana-aksi-atas-kinerja label {
  display: none;
}
#edit-field-sasaran-telah-berorientasi label {
  display: none;
}
#edit-field-indikator-kinerja-sasaran2 label {
  display: none;
}
#edit-field-target-kinerja-ditetapkan2 label {
  display: none;
}
#edit-field-kegiatan-merupakan-cara label {
  display: none;
}
#edit-field-dokumen-rencana-kinerja label {
  display: none;
}
#edit-field-dokumen-pk-telah-selaras label {
  display: none;
}
#edit-field-dokumen-pk-menetapkan label {
  display: none;
}
#edit-field-rencana-aksi-atas-kinerja2 label {
  display: none;
}
#edit-field-rencana-aksi-atas-kinerja3 label {
  display: none;
}
#edit-field-rencana-kinerja-tahunan label {
  display: none;
}

#edit-field-tahun label {
  display: none;
}

#edit-field-target-kinerja-dperjanjikn label {
  display: none;  
}
#edit-field-rencana-aksi-atas-kinerja4 label {
  display: none;  
}
#edit-field-rencana-aksi-dimanfaatkan label {
  display: none;
}
#edit-field-perjanjian-kinerja-telah label {
  display: none;
}
#edit-field-terdapat-indikator-kinerja label {
  display: none;
}
#edit-field-indikator-kinerja-atasan label {
  display: none;
}
#edit-field-mekanisme-pengumpulan-data label {
  display: none;
}
#edit-field-indikator-dipublikasikan label {
  display: none;
}

#edit-field-ca-renstra-uk-disusun label {
  display: none;
}
#edit-field-ca-renstra-uk-disusun-f legend {
  display: none;
}
#edit-field-ca-renstra-uk-disusun-f label {
  display: none;
}

#edit-field-b-ii-5-indikator-kinerja label {
  display: none;
}
#edit-field-b-ii-6-indikator-kinerja label {
  display: none;
}
#edit-field-b-ii-7-indikator-kinerja label {
  display: none;
}
#edit-field-b-ii-8-indikator-kinerja label {
  display: none;
}
#edit-field-b-ii-9-pengukuran-kinerja label {
  display: none;
}
#edit-field-b-ii-10-pengumpulan-data label {
  display: none;
}
#edit-field-b-ii-11-pengumpulan-data label {
  display: none;
}
#edit-field-b-ii-12-pengukuran-kinerja label {
  display: none;
}

#edit-field-b-iii-13-impl-pengukuran label {
  display: none;
}
#edit-field-b-iii-14-impl-pengukuran label {
  display: none;
}
#edit-field-b-iii-15-impl-pengukuran label {
  display: none;
}
#edit-field-b-iii-16-impl-pengukuran label {
  display: none;
}
#edit-field-b-iii-17-impl-pengukuran label {
  display: none;
}
#edit-field-b-iii-18-impl-pengukuran label {
  display: none;
}
#edit-field-c-i-1-pelaporan-kinerja label {
  display: none;
}
#edit-field-c-i-2-pelaporan-kinerja label {
  display: none;
}
#edit-field-c-i-3-pelaporan-kinerja label {
  display: none;
}
#edit-field-c-i-4-pelaporan-kinerja label {
  display: none;
}
#edit-field-c-ii-5-informasi-kinerja label {
  display: none;
}
#edit-field-c-ii-6-informasi-kinerja label {
  display: none;
}
#edit-field-c-ii-7-informasi-kinerja label {
  display: none;
}
#edit-field-c-ii-8-informasi-kinerja label {
  display: none;
}
#edit-field-c-ii-9-informasi-kinerja label {
  display: none;
}
#edit-field-c-ii-10-informasi-kinerja label {
  display: none;
}
#edit-field-c-ii-11-informasi-kinerja label {
  display: none;
}
#edit-field-c-iii-12-pemanfaatan-info label {
  display: none;
}
#edit-field-c-iii-13-pemanfaatan-info label {
  display: none;
}
#edit-field-c-iii-14-pemanfaatan-info label {
  display: none;
}
#edit-field-c-iii-15-pemanfaatan-info label {
  display: none;
}
#edit-field-c-iii-16-pemanfaatan-info label {
  display: none;
}
#edit-field-d-i-1-eval-kinerja label {
  display: none;
}
#edit-field-d-i-2-eval-kinerja label {
  display: none;
}
#edit-field-d-i-3-eval-kinerja label {
  display: none;
}
#edit-field-d-i-4-eval-kinerja label {
  display: none;
}
#edit-field-d-ii-5-eval-kinerja label {
  display: none;
}
#edit-field-d-ii-6-eval-kinerja label {
  display: none;
}
#edit-field-d-ii-7-eval-kinerja label {
  display: none;
}
#edit-field-d-ii-8-eval-kinerja label {
  display: none;
}
#edit-field-d-ii-9-eval-kinerja label {
  display: none;
}
#edit-field-d-ii-10-eval-kinerja label {
  display: none;
}
#edit-field-d-ii-11-eval-kinerja label {
  display: none;
}
#edit-field-d-iii-12-eval-kinerja label {
  display: none;
}
#edit-field-d-iii-13-eval-kinerja label {
  display: none;
}
#edit-field-e-1-capai-sasaran label {
  display: none;
}
#edit-field-e-2-capai-sasaran label {
  display: none;
}
#edit-field-e-3-capai-sasaran label {
  display: none;
}

#edit-field-status-penilaian label {
  display: none;
}
#edit-field-status-penilaian-2 label {
  display: none;
}

#edit-field-de-a-i-a-1 label {
  display: none;
}

#edit-field-fu-a-i-a-1 legend {
  display: none;
}

#edit-field-ases-description-a-i-a-1 label {
  display: none;
}

#edit-field-ases-uploads-a-i-a-1 legend {
  display: none;
}

#edit-field-de-a-i-a-2 label {
  display: none;
}

#edit-field-fu-a-i-a-2 legend {
  display: none;
}

#edit-field-ases-description-a-i-a-2 label {
  display: none;
}

#edit-field-ases-uploads-a-i-a-2 legend {
  display: none;
}

#edit-field-de-a-i-a-3 label {
  display: none;
}

#edit-field-fu-a-i-a-3 legend {
  display: none;
}

#edit-field-ases-description-a-i-a-3 label {
  display: none;
}

#edit-field-ases-uploads-a-i-a-3 legend {
  display: none;
}


.sakip-header-satker .panel-body {
  padding: 0px;
}

.panel-body {
    padding: 15px;
}

.evidence {
  padding: 10px;  
}

.evidence-small-header {
  font-weight: bold;
  font-style: italic;
}

.clear-pm {
  padding: 0px;
  margin: 0px;
}