/** sibaja css **/
.readonly-noedit {
  background-color: #f5f5f5;
  border-style: none;
}
.noborder {
  border-style: none;
}

.akom-detail-fieldbox {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  padding: 9px;
  padding-left: 11px;
  margin-top: 5px;
}

.akom-detail-label {
  font-size: smaller;
}

.na-message {
  color: red;
  font-style: italic;
}

#edit-field-akm-ppl-nomor label {
  display: none;
}
#edit-field-akm-sdp-nomor label {
  display: none;
}
#edit-field-akm-bap-nomor label {
  display: none;
}
#edit-field-akm-bae-nomor label {
  display: none;
}
#edit-field-akm-ban-nomor label {
  display: none;
}
#edit-field-akm-bal-nomor label {
  display: none;
}
#edit-field-akm-lhp-nomor label {
  display: none;
}
#edit-field-akm-spk-nomor label {
  display: none;
}

#edit-field-akm-ppl-tanggal legend {
  display: none;
}
#edit-field-akm-sdp-tanggal legend {
  display: none;
}
#edit-field-akm-bap-tanggal legend {
  display: none;
}
#edit-field-akm-bae-tanggal legend {
  display: none;
}
#edit-field-akm-ban-tanggal legend {
  display: none;
}
#edit-field-akm-bal-tanggal legend {
  display: none;
}
#edit-field-akm-lhp-tanggal legend {
  display: none;
}
#edit-field-akm-spk-tanggal legend {
  display: none;
}

#edit-field-akm-ppl-tanggal-und-0-value label {
  display: none;
}
#edit-field-akm-ppl-tanggal-und-0-value2 label {
  display: none;
}
#edit-field-akm-sdp-tanggal-und-0-value label {
  display: none;
}
#edit-field-akm-sdp-tanggal-und-0-value2 label {
  display: none;
}
#edit-field-akm-bap-tanggal-und-0-value label {
  display: none;
}
#edit-field-akm-bap-tanggal-und-0-value2 label {
  display: none;
}
#edit-field-akm-bae-tanggal-und-0-value label {
  display: none;
}
#edit-field-akm-bae-tanggal-und-0-value2 label {
  display: none;
}
#edit-field-akm-ban-tanggal-und-0-value label {
  display: none;
}
#edit-field-akm-ban-tanggal-und-0-value2 label {
  display: none;
}
#edit-field-akm-bal-tanggal-und-0-value label {
  display: none;
}
#edit-field-akm-bal-tanggal-und-0-value2 label {
  display: none;
}
#edit-field-akm-lhp-tanggal-und-0-value label {
  display: none;
}
#edit-field-akm-lhp-tanggal-und-0-value2 label {
  display: none;
}
#edit-field-akm-spk-tanggal-und-0-value label {
  display: none;
}
#edit-field-akm-spk-tanggal-und-0-value2 label {
  display: none;
}

#edit-field-akm-tanggal-kegiatan-und-0-value label {
  display: none;
}
#edit-field-akm-tanggal-kegiatan-und-0-value2 label {
  display: none;
}
/** ************************************ **/

#kegiatan-node-form .col-md-2 label {
  padding-top: 7px;
}
#kegiatan-node-form .col-md-10 label {
  display: none;
}

/** ************************************ **/
.field-name-field-unit-kerja .field-label {
  display: none;
}

.sibaja-node-display .control-label {
  padding-top: 10px;
}
.sibaja-node-display .panel-body {
  padding: 10px;
}

/** ************************************ **/
/**
#edit-field-tanggal-surat .panel-heading {
  display: none;
}
#edit-field-tanggal-surat .panel-body {
  padding: 0px;
}
#edit-field-tanggal-surat-und-0-value {
  padding: 0px;
}

fieldset.date-combo .container-inline-date > .form-item {
  margin-bottom: 0px;
}
**/
#field-no-surat-add-more-wrapper .control-label {
  display: none;
}
#field-tanggal-surat-add-more-wrapper legend {
  display: none;
}
#edit-field-tanggal-surat-und-0-value .control-label {
  display: none;
}

/**
fieldset.date-combo .container-inline-date .date-padding {
    padding: 0px;
}

fieldset.date-combo .container-inline-date > .form-item {
    margin-bottom: 10px;
}
**/

#field-tanggal-surat-add-more-wrapper .panel-body {
    padding: 0px;
}
#edit-field-tanggal-surat-und-0-value {
    padding: 0px;  
}
.form-item-field-tanggal-surat-und-0-value {
  margin: 0px;
}
#field-tanggal-surat-add-more-wrapper fieldset.date-combo .container-inline-date > .form-item {
    margin: 0px;
}
/** ********************** **/
#akom-node-form .panel-body {
  padding: 10px;
}
#akom-node-form .control-label {
    padding-top: 10px;
}
#edit-field-akm-vendor label {
  display: none;
}
#edit-field-akm-lokasi label {
  display: none;
}
#edit-field-akm-jumlah-orang label {
  display: none;
}
/** FORM AKOM ***************************** **/
#edit-field-tanggal-mulai-kegiatan legend {
  display: none;
}
#edit-field-tanggal-akhir-kegiatan legend {
  display: none;
}
#edit-field-tanggal-mulai-kegiatan label {
  display: none;
}
#edit-field-tanggal-akhir-kegiatan label {
  display: none;
}
#edit-field-tanggal-mulai-kegiatan fieldset.date-combo .container-inline-date .date-padding {
    padding: 0px;
}#edit-field-tanggal-akhir-kegiatan fieldset.date-combo .container-inline-date .date-padding {
    padding: 0px;
}
#edit-field-tanggal-mulai-kegiatan fieldset.date-combo .container-inline-date > .form-item {
    margin-bottom: 0px;
}
#edit-field-tanggal-akhir-kegiatan fieldset.date-combo .container-inline-date > .form-item {
    margin-bottom: 0px;
}
#edit-field-tanggal-mulai-kegiatan .panel-body {
    padding: 0px;
}
#edit-field-tanggal-akhir-kegiatan .panel-body {
    padding: 0px;
}
#edit-field-tanggal-mulai-kegiatan .panel-default {
  border-style: none;
}
#edit-field-tanggal-akhir-kegiatan .panel-default {
  border-style: none;
}
/** ******************************* **/
#edit-field-tgl-masuk-dok-penawaran legend {
  display: none;
}
#edit-field-tgl-masuk-dok-penawaran label {
  display: none;
}
#edit-field-tgl-masuk-dok-penawaran-und-0-value {
  padding: 0px;
}
#edit-field-tgl-masuk-dok-penawaran fieldset.date-combo .container-inline-date > .form-item {
    margin: 0px;
}
/** ******************************* **/
#edit-field-tgl-buka-dok-penawaran legend {
  display: none;
}
#edit-field-tgl-buka-dok-penawaran label {
  display: none;
}
#edit-field-tgl-buka-dok-penawaran-und-0-value {
  padding: 0px;
}
#edit-field-tgl-buka-dok-penawaran fieldset.date-combo .container-inline-date > .form-item {
    margin: 0px;
}
/** ******************************* **/
#edit-field-tgl-penandatanganan-spk legend {
  display: none;
}
#edit-field-tgl-penandatanganan-spk label {
  display: none;
}
#edit-field-tgl-penandatanganan-spk-und-0-value {
  padding: 0px;
}
#edit-field-tgl-penandatanganan-spk fieldset.date-combo .container-inline-date > .form-item {
    margin: 0px;
}
/** ***************field tembusan**************** **/
#edit-field-tembusan .tabledrag-toggle-weight-wrapper {
  display: none;
}
/** ***************field no surat minta pengadaan **************** **/
#edit-field-no-surat-minta-pengadaan label {
  display: none;
}
#edit-field-tgl-surat-minta-pengadaan legend {
  display: none;
}
#edit-field-tgl-surat-minta-pengadaan label {
  display: none;
}
#edit-field-tgl-surat-minta-pengadaan fieldset.date-combo .container-inline-date .date-padding {
    padding: 0px;
}
#edit-field-tgl-surat-minta-pengadaan fieldset.date-combo .container-inline-date > .form-item {
    margin-bottom: 0px;
}
#edit-field-tgl-surat-minta-pengadaan .panel-body {
    padding: 0px;
}
/** ***************field tempat pengadaan **************** **/
#edit-field-tempat-pengadaan label {
  display: none;
}
#edit-field-tempat-pengadaan-und-0-format {
  display: none;
}
#edit-field-telepon-pengadaan label {
  display: none;
}
#edit-field-website-pengadaan label {
  display: none;
}